<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="SimpleConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		
		<RollingFile name="DefaultRollingFile" fileName="D:/uTorrent/ProgramsToRun/logs/uTorrentPrograms.log"
			filePattern="D:/uTorrent/ProgramsToRun/logs/uTorrentPrograms-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout pattern="%d{dd-MM-YYYY HH:mm:ss.SSS} %4p (%C:%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="4 MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="defaultLogger" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="DefaultRollingFile" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="SimpleConsole" />
		</Root>
	</Loggers>
</Configuration>